/*? reset start */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: clamp(40%, 1% + 2vw, 62.5%);

  --text-color: #ffffff;
  --bg-color: #000000;

  --primary-color: #065e7c;
  --secundary-color: #06161b;
  --tertiary-color: #4a808c;
  --quaternary-color: #06191d;
  --quintenary-color: #06161b80;
  --red-color: #f75a68;
  --table-header-color: #092d38;
}

body {
  font-size: 1.6rem;
  min-height: 100vh;

  display: flex;
  justify-content: start;
  align-items: center;
  background: var(--bg-color);
  padding: 10rem 0 0;

  flex-direction: column;
}

body * {
  font-family: "Roboto", sans-serif;
  background: transparent;
  color: var(--text-color);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;

  margin: -1px;
  padding: O;
  border: 0;
  appearance: none;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
}

input,
button {
  border: none;
  outline: none;
}

/*? reset end */

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8rem;
  width: min(112rem, 90vw);
}

/*? header start */
.app header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.app header .search-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: min(64rem, 90vw);
  gap: 0.8rem;
}

.app header .search-wrapper input {
  display: flex;
  padding: 1.6rem;
  flex: 1;
  background: var(--secundary-color);
  border-radius: 0.5rem;
}

.app header .search-wrapper .input-button {
  display: flex;
  align-items: center;
  padding: 1.2rem 3.2rem;
  gap: 0.8rem;
  background: var(--primary-color);
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background 0.3s;
  font-weight: 600;
}


.app header .search-wrapper .input-button > .ph-star{
  font-size: 2.3rem;
  font-weight: 500;
}

.app header .search-wrapper .input-button:hover {
 
  background: var(--text-color);
  color: var(--primary-color);
}

.app header .search-wrapper .input-button:hover  .ph-star {
  color: var(--primary-color);
}

/*? header end */

/*? table start */

.table-wrapper {
  width: 100%;
  border: 1px solid var(--tertiary-color);
  border-radius: 1.2rem;
  overflow: hidden;
  overflow-y: auto;

  position: relative;
}

.table-wrapper .table-wrapper-header {
  width: 100%;
}

.table-wrapper .table-wrapper-tbody {
  width: 100%;
  overflow: hidden;
  overflow: auto;
  max-height: 62.4rem;
}

.table-wrapper .disable-table-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
  overflow: auto;
  height: 62.4rem;
  background: var(--quintenary-color);
  gap: 6rem;
}

.table-wrapper .disable-table-wrapper img {
  height:12.5rem;
}

.table-wrapper .disable-table-wrapper h3 {
 font-size: 4rem;
 font-family: "Roboto Mono", monospace;
 color:#4E5455;
}

.table-wrapper .disable-table-wrapper.hide{
  display: none;
}

.table-wrapper .table-wrapper-tbody::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

.table-wrapper .table-wrapper-tbody::-webkit-scrollbar-thumb {
  background: var(--tertiary-color);
  border-radius: 1rem;
}

.app table {
  width: 100%;

  text-align: left;
  border-collapse: collapse;
}

table tr:nth-child(odd) {
  background: var(--quintenary-color);
}

table tr:nth-child(even) {
  background: var(--quaternary-color);
  border-top: 1px solid var(--tertiary-color);
  border-bottom: 1px solid var(--tertiary-color);
}

.app table th,
.app table td {
  padding: 2.4rem 4rem;
}

.app table thead tr {
  background: var(--table-header-color);
  width: 100%;
}

.app table thead.collapse-table,
.app table tbody.collapse-table {
  opacity: 0;
  visibility: collapse;
}

.app table tbody tr td.user {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.app table tbody tr td.user a {
  text-decoration: none;
  color: var(--text-color);
}

.app table tbody tr td.user p {
  font-weight: bold;
}

.app table tbody tr td.user img {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  border-radius: 50%;
}

.app table tbody tr td .remove {
  font-weight: bold;
  color: var(--red-color);
  cursor: pointer;
}

/*? table end */

@media (max-width: 768px) {
}
